<h1>Event</h1>
<% if !@event.nil? %>
<table align="center">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @event.id %></td>
            <td><%= @event.name %></td>
            <td><%= @event.location %></td>
            <td><%= @event.price %></td>
            <td><%= @event.date %></td>
        </tr>
    </tbody>
</table>
<% end %>
<br>
<h1>Attendees</h1>
<% if !@attendees.nil? %>
<table align="center">
    <thead>
        <tr>
            <th>Person ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>City</th>
            <th>Street</th>
            <th>State</th>
            <th>Country</th>
            <th>Language</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody>
        <% @attendees.each do |attendee| %>
            <tr>
                <td><%= attendee.id %></td>
                <td><%= attendee.first_name %></td>
                <td><%= attendee.last_name %></td>
                <td><%= attendee.email %></td>
                <td><%= attendee.gender %></td>
                <td><%= attendee.city %></td>
                <td><%= attendee.street %></td>
                <td><%= attendee.state %></td>
                <td><%= attendee.country %></td>
                <td><%= attendee.language %></td>
                <td><%= attendee.birthdate %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>
<br>
<%= link_to 'Home', root_path %>